@import url("../../theme.css");

.theme_selector_container {
  padding: 0.2rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.theme_active {
  border: 2px solid var(--neutral-450);
  border-radius: 50%;
}
.theme_display {
  background-color: var(--color-theme);
  border-radius: 50px;
}
.pink {
  background-color: var(--color-theme-pink);
}
.blue {
  background-color: var(--color-theme-blue);
}
.yellow {
  background-color: var(--color-theme-yellow);
}
.theme_display_small {
  width: 2.1rem;
  height: 2.1rem;
}

.theme_display_large {
  width: 4.6rem;
  height: 4.6rem;
}
.theme_switcher_modal {
  border-radius: 32px;
  width: 27rem;
  height: 16.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.theme_switcher_modal_title {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 0px;
  background-color: white;
  background-image: url("../../assets/images/background.png");
  background-size: cover;
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.03);
  z-index: 10;
}

.theme_switcher_modal_title h1 {
  font-family: var(--ClashDisplay);
  font-size: 1.5rem;
  font-weight: 600;
}

.theme_switcher_modal_body {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex: 1;
  background-image: url("../../assets/images/background.png");
  background-color: var(--neutral-350);
  background-size: cover;
}

/* MOBILE VIEW */
@media only screen and (max-width: 640px) {
  .theme_switcher_modal {
    border-radius: 24px;
    width: 90%;
    height: 16.5rem;
  }
}
