@import url("../../theme.css");

.error_container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--GeneralSans);
}

.error_title {
  font-size: 2rem;
}

.error_text {
  font-size: 2rem;
  color: var(--neutral-600);
}

.error_message {
  font-size: 2rem;
  text-decoration: underline;
}

.error_text_container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error_text_container p {
  text-align: center;
  font-family: var(--GeneralSans);
  font-size: 1rem;
}
@media only screen and (max-width: 640px) {
  .error_title {
    font-size: 1.5rem;
  }

  .error_text {
    font-size: 1rem;
  }

  .error_message {
    font-size: 1.5rem;
  }
}
